<div class="form-row">
    <div class="col-md-4 mb-3">
        <label for="fromDateId">From</label>
        <input type="date" class="form-control" id="fromDateId"
               name="beginDate">
    </div>
    <div class="col-md-4 mb-3">
        <label for="untilDateId">Until</label>
        <input type="date" class="form-control is-valid" id="untilDateId"
               name="endDate">
    </div>
    <div class="container">
        <div class="form-row">
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input is-invalid"
                           type="checkbox" value="YES"
                           id="breakfastId" name="breakfast">
                    <label class="form-check-label" for="breakfastId">
                        Breakfast
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input is-invalid"
                           type="checkbox" value="YES"
                           id="dinerId" name="dinner">
                    <label class="form-check-label" for="dinerId">
                        Dinner
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input is-invalid"
                           type="checkbox" name="carRent" value="YES"
                           id="carRent">
                    <label class="form-check-label" for="carRent">
                        Rent a car
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input is-invalid"
                           type="checkbox" value=""
                           id="invalidCheck3" name="uder" required>
                    <label class="form-check-label" for="invalidCheck3">
                        Agree to terms and conditions
                    </label>
                    <div class="invalid-feedback">
                        You must agree before submitting.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>