<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"

>
<head>
    <meta charset="UTF-8">
    <script th:src="@{/webjars/jquery/3.0.0/jquery.js}"></script>
    <script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.bundle.min.js}"></script>
    <style>.carousel-inner > .item > img { width:100%; height:570px; } </style>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.1/css/bootstrap.min.css">
    <title>Welcome to Hotel Reservation !</title>
</head>
<body>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home page</li>
    </ol>
</nav>

<div class="container" sec:authorize="isAnonymous()">
    <h1>Welcome to our hotel reservation page !</h1></div>
<div class="container" sec:authorize="isAuthenticated()">
    <h1>Welcome [[${#httpServletRequest.remoteUser}]]</h1></div>

<div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
        Menu
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a sec:authorize="isAnonymous()" class="dropdown-item" th:href="@{/login}">Login</a>
        <a sec:authorize="isAuthenticated()" class="dropdown-item" th:href="@{/logout}">Logout</a>
        <a class="dropdown-item" th:href="@{/rooms}">Check our rooms !</a>
        <a sec:authorize="isAuthenticated()" class="dropdown-item" th:href="@{/myReservations}">My reservations</a>
    </div>
</div>

<h3>Check our rooms, you can find motives like </h3>
<div class="row">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" th:src="@{/roomsPhotos/harryPotterRoom1.jpg}" alt="First slide" width="640" height="360">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" th:src="@{/roomsPhotos/heartbreakerRoom1.jpg}" alt="First slide" width="640" height="360">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" th:src="@{/roomsPhotos/hobbitRoom1.jpg}" alt="First slide" width="640" height="360">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" th:src="@{/roomsPhotos/vampireRoom1.jpg}" alt="First slide"width="640" height="560">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
</div>
</body>
</html>