<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"

>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.1/css/bootstrap.min.css">
    <title>Login page</title>
</head>
<body>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Login page</li>
    </ol>
</nav>
<div class="container">
    <div class="offset-lg-1 offset-lg-5" th:if="${param.error}">
        Invalid username and password.
    </div>
    <div class="offset-lg-1 offset-lg-5" th:if="${param.logout}">
        You have been logged out.
    </div>
</div>
<div class="container" sec:authorize="isAnonymous()">
    <div class="form-row">
        <div class="form-group col-md-4">
            <form th:action="@{/login}" method="post">
                <div class="form-group">
                    <label for="userInput">Username</label>
                    <input type="text" name="username" class="form-control" id="userInput" aria-describedby="emailHelp"
                           placeholder="Enter username">

                </div>
                <div class="form-group">
                    <label for="passwordId">Password</label>
                    <input type="password" name="password" class="form-control" id="passwordId" placeholder="Password">
                    <small id="passwordSmall" class="form-text text-muted">We'll never share your password with anyone
                        else.
                    </small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>