<!DOCTYPE html>

<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"

>
<head>
    <meta charset="UTF-8">
    <title>My Reservations</title>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.js}"></script>
    <script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/reservation.js}"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">My reservation</li>
    </ol>
</nav>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Class of room</th>
        <th scope="col">Adults</th>
        <th scope="col">Cancel reservation</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="reservation,iter : ${reservations}">
        <th scope="row" th:text="${iter.index+1}"></th>
        <td th:text="${reservation.begin}"></td>
        <td th:text="${reservation.end}"></td>
        <td>
            <button type="button" th:id="${reservation.reservationId}" class="btn btn-primary" data-toggle="modal"
                    data-target="#exampleModal" data-whatever="@mdo"
                    th:onclick="'onButtonClick(\'' + ${reservation.reservationId} + '\');'">Show reservation
            </button>
            <div class="modal-body">

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                     aria-labelledby="modalIdReservation" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalIdReservation">Check reservation !</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <!--<span aria-hidden="true">&times;</span>-->
                                </button>
                            </div>
                                <table class="table" th:id="checkReservationTable">
                                    <thead class="thead-dark">
                                    <tr>
                                    <th scope="col">Breakfast</th>
                                    <th scope="col">Dinner</th>
                                    <th scope="col">Car</th>
                                    <th scope="col">Adults</th>
                                    <th scope="col">Room</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td th:id="breakfastInput"></td>
                                        <td th:id="dinnerInput"></td>
                                        <td th:id="rentCarInput"></td>
                                        <td th:id="howManyPeopleInput"></td>
                                        <td th:id="roomClassInput"></td>
                                    </tr>
                                    <tr>
                                        <td th:id="beginInput"></td>
                                        <td> until</td>
                                        <td th:id="endInput"></td>
                                        <td> Price</td>
                                        <td th:id="priceInput"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                        </td>
                                        <td th:id="cancelForm">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                        </div>
                        </div>
                    </div>
                </div>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>

