<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"

>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rooms Details</title>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.js}"></script>
    <script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/countPriceScript.js}"></script>

    <link rel="stylesheet" href="/webjars/bootstrap/4.1.1/css/bootstrap.min.css">
    <style>.carousel-inner > .item > img { width:100%; height:570px; } </style>
</head>
<body>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a th:href="@{/rooms}">Our rooms</a></li>
        <li class="breadcrumb-item active" aria-current="page">Room details</li>
    </ol>
</nav>
<div id="top">
    <div id="mainPage">
        <div class="container">
            <h4 th:if="${error}=='DateTaken'">Reservation date is already taken ! Please try another date or room.</h4>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Room details</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Max adult at room :</td>
                    <td th:text="${room.howManyPeople}"></td>
                </tr>
                <tr>
                    <td>Class of room :</td>
                    <td th:text="${room.roomClass}"></td>
                </tr>
                <tr>
                    <td>Beds in room :</td>
                    <td th:text="${room.bedsInRoom}"></td>
                </tr>
                <tr>
                    <td>Tv in room :</td>
                    <td th:text="${room.tvInRoom}"></td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                                data-whatever="@mdo">Make reservation
                        </button>
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Make reservation !</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:action="@{/reservation/{id}(id=${room.id})}" th:method="post">
                                            <div class="form-row">
                                                <div class="col-md-4 mb-3">
                                                    <label for="fromDateId">From</label>
                                                    <input  th:onclick="'countOnClick()'" type="date" class="form-control" id="fromDateId"
                                                           name="beginDate">
                                                </div>
                                                <div class="col-md-4 mb-3">
                                                    <label for="untilDateId">Until</label>
                                                    <input th:onclick="'countOnClick()'" type="date" class="form-control is-valid" id="untilDateId"
                                                           name="endDate">
                                                </div>
                                                <div class="container">
                                                    <label for="maxAdults">Adults</label>
                                                    <select th:onclick="'countOnClick()'" id="maxAdults" name="adultsForReservation" class="form-control">
                                                                    <option selected value="1">1</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                    </select>
                                                    <div class="form-group">
                                                        <div class="form-check">

                                                        <input th:onclick="'countOnClick()'" class="form-check-input is-invalid"
                                                                       type="checkbox" value="YES"
                                                                       id="breakfastId" name="breakfast">
                                                                <label class="form-check-label" for="breakfastId">
                                                                    Breakfast
                                                                </label>
                                                        </div>
                                                    </div>
                                                        <div class="form-group">
                                                            <div class="form-check">
                                                                <input th:onclick="'countOnClick()'" class="form-check-input is-invalid"
                                                                       type="checkbox" value="YES"
                                                                       id="dinerId" name="dinner">
                                                                <label class="form-check-label" for="dinerId">
                                                                    Dinner
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="form-check">
                                                                <input th:onclick="'countOnClick()'" class="form-check-input is-invalid"
                                                                       type="checkbox" name="carRent" value="YES"
                                                                       id="carRent">
                                                                <label class="form-check-label" for="carRent">
                                                                    Rent a car
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="form-check">
                                                                <input class="form-check-input is-invalid"
                                                                       type="checkbox" value=""
                                                                       id="invalidCheck3" name="uder" required>
                                                                <label class="form-check-label" for="invalidCheck3">
                                                                    Agree to terms and conditions
                                                                </label>
                                                                <div class="invalid-feedback">
                                                                    You must agree before submitting.
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-primary">Submit reservation</button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
<p th:id="price"></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <div class="row">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <!--mozna dolarkiem do polka src adres.-->
                <img class="d-block w-100" th:src="${room.photoOne}" alt="First slide" width="640" height="360">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" th:src="${room.photoTwo}" alt="Second slide" width="640" height="360">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" th:src="${room.photoThree}" alt="Third slide" width="640" height="360">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    </div>
</div>
</div>
</body>

</html>