<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"

>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.1/css/bootstrap.min.css">
    <title>See our rooms !</title>
</head>
<body>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Our rooms</li>
    </ol>
</nav>
<div class="container">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Class of room</th>
                <th scope="col">Max adults</th>
                <th scope="col">Check details</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="room,iter : ${rooms}">
                <th scope="row" th:text="${iter.index+1}"></th>
                <td th:text="${room.roomClass}"></td>
                <td th:text="${room.howManyPeople}"></td>
                <td>
                    <form th:action="@{/rooms/{id}/{error}(id=${room.id}, error='AllGood')}" th:method="get">
                        <button class="btn btn-primary" type="submit">Show room details
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
</div>
</body>
</html>